@import '../../../../vendor/filament/filament/resources/css/theme.css';
@import '../../filament-tree-nestable.css';

@source '../../../../app/Filament/**/*';
@source '../../../../resources/views/filament/**/*';
